.main-container {
    display: flex;
    flex-direction: row;
    width:100%;
	height:100%;
}
.welcome span {
    font-size: 18pt;
    font-weight: bold;
    color: #ffffff
}
.my-friends{
    background-color: #ffffff;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 20px;
    min-width: 200px;
}
.my-profile {
    background-color: #ffffff;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.profile-card{
    margin-top: 10px;
    background-color: #ffffff;
    width: 75%;
    height:60%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.user-name span{
    font-size: 26pt;
    font-weight: bold;
    color: #69bcfb;
}

.status strong{
    font-size: 12pt;
    font-weight: bold;
    color: #11c00b;
    margin-left: 5px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: #11c00b;
    border-radius: 50%;
    display: inline-block;
  }

.user-tags {
    padding-top: 20px;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: left;
    cursor: pointer;
}
.user-tags span{
    font-size: 11pt;
    font-weight: bold;
    color: #91bee9
}
.userTags form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.user-tags form textarea {
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: #666;
    resize: none;
}

.user-tags form input::placeholder {
    color: #999
}

.user-tags form button {
    margin-top: 5px;
    border: 0;
    border-radius: 4px;
    height: 28px;
    width: 50px;
    font-size: 13px;
    background: #fcfcfc;
    font-weight: bolder;
    color: #91bee9;
    cursor: pointer;
}

.user-bio {
    cursor: pointer;
    padding-top: 10px;
    max-width: 250px;
    min-width: 100%;
    align-items: left;
}
.user-bio span{
    text-align: justify;
    font-size: 11pt;
    font-weight: lighter;
    color: #666666
}

.user-bio form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.user-bio form textarea {
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: #666;
    resize: none;
}

.user-bio form textarea::placeholder {
    color: #999
}

.user-bio form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 28px;
    width: 50px;
    font-size: 13px;
    background: #fcfcfc;
    font-weight: bolder;
    color: #91bee9;
    cursor: pointer;
}

.salvarButton {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.teams-card
    {
    background-color: #ffffff;
    width: 75%;
    height:60%;
    display: flex;
    align-items: center;
}
.user-teams {
    padding-bottom: 50px;
    text-align: left;
    align-self: flex-end;
    width: 100%;
}

.user-teams ul {
    list-style-type: none;
}
.user-teams ul li {
    font-weight: normal;
    font-size: 14pt;
    margin-bottom: 5px;
    color: #555;
}
.user-teams ul:hover{
    cursor: pointer;
}

.search {
	background-color: rgb(250, 245, 245);
	display: flex;
	min-width: 750px;
	flex-direction: column;
	align-items: center;
}
.search-form {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
}

.search-form form input {
	min-width: 600px;
	min-height: 40px;
}

.new-team {
    margin-top: 10px;
    border: 0.1;
    border-color:#91bee9;
    border-radius: 4px;
    border-style: solid;
    height: 48px;
    width: 100%;
    font-size: 20px;
    background: transparent;
    font-weight: normal;
    color: #91bee9;
    cursor: pointer;
}
.new-team:hover{
    background-color: #91bee9;
		color: #ffffff;
}
.friend-request {
	width: 100%;
}
.solicitations-title {
	text-align: center;
	color: #777;
	font-size: 16pt;
	min-height: 40px;
	padding-bottom: 20px;
}

.solicitations-title strong{
	margin-left: 15px;
}

.to-accept{
 padding-left: 30px;
}

.to-accept ul {
	list-style-type: none;
}
.to-accept ul li {
	font-weight: normal;
	font-size: 14pt;
	margin-bottom: 5px;
	color: #555;
}
.to-accept ul:hover {
	cursor: pointer;
}

.friend-request-accept {
	font-size: 18pt;
	color: #70f16b;
}

.friend-request-deny {
	font-size: 16pt;
	color: #f16b6b;
	margin-left: 5px;
}
.friend-request-card {
	flex-direction: row;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 10px;
}
.friend-request-card span{
	font-size: 16pt;
	font-weight: lighter;
	color: rgb(184, 182, 182);
	margin-left: 10px;
}

.friend-request-card span:hover{
	cursor: default;
}

.friend-list{
	padding-top: 50px
}

.solicitations-title {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	color: rgb(150, 180, 236);
}

.solicitations-icon{
	color: rgb(150, 180, 236);
	font-size: 20pt;
}

.friends-title{
	font-size: 16pt;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
	color: rgb(139, 221, 115);
}

.friends-title strong{
	margin-left: 15px;
}

.friends-icon{
	color: rgb(139, 221, 115);
	font-size: 20pt;
}

.friends {
	padding-left: 30px;
}

 .friends ul {
	 list-style-type: none;
 }
 .friends ul li {
	 font-weight: normal;
	 font-size: 14pt;
	 margin-bottom: 5px;
	 color: #555;
 }
 .friends ul:hover {
	 cursor: pointer;
 }

 .friend-card {
	flex-direction: row;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 10px;
}
.friend-card span{
	font-size: 16pt;
	font-weight: lighter;
	color: rgb(184, 182, 182);
	margin-left: 10px;
}

.friend-card span:hover{
	cursor: pointer;
}

.friend-list {
	min-width: 100%;
}

.input-group .md-form .form-sm .form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.user-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center;
}

.user-container ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.user-container ul li {
	display: flex;
	flex-direction: column;
}
.user-container ul li img {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
}

.user-container ul li footer {
	flex: 1;
	background: #FFF;
	border: 1px solid #EEE;
	padding: 15px 20px;
	text-align: left;
	border-radius: 0 0 5px 5px;
}

.user-container ul li footer strong {
	margin-right: 5px;
	font-size: 16px;
	color: #333;
}

.user-container ul li footer p {
	font-size: 14px;
	color: #999;
	line-height: 20px;
	margin-top: 5px;
}

.user-container ul li .buttons {
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}

.user-container ul li .buttons button {
	height: 50px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
	border: 0;
	border-radius: 4px;
	background: #FFF;
	cursor: pointer;
}

.user-container ul li .buttons button:hover img {
	transform: translateY(-5px);
	transition: all 0.2s;
}

.buttons span{
	color: #69BCFB;
	font-size: 10pt;
	font-weight: bold;
}

input {
	border: 1px solid #DDD;
	border-radius: 4px;
	height: 48px;
	padding: 0 20px;
	font-size: 16px;
	color: #666;
}

input::placeholder {
	color: #999
}
